* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: blue;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
}

.container {
  width: 70%;

  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.header {
  background-color: #33a;
  font-size: 2rem;
  padding: 1.5rem;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

.header__span {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.post {
  padding: 2rem;
}

.post__title {
  font-size: 20px;
}

.post__content {
  padding: 1rem;
}
